@mixin commonProperty{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@mixin mixin-practice{
  color: $color-mixin;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
