@mixin commonProperty{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@mixin mixin-practice{
  color: $color-mixin;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}


@mixin commonprop{
  background-color : $primary-color;
  color : $secondary-color;
  font-weight : bold;
  font-size : 20px;
}

@mixin inset-divider-offset($offset, $padding) {
  $divider-offset: (2 * $padding) + $offset;
  @debug "divider offset: #{$divider-offset}";

  margin-left: $divider-offset;
  width: calc(100% - #{$divider-offset});
}
