$color-white: white;
$color-list: #FF4233;
$color-blue: blue;
$header-color: #A569BD;
$color-mixin: #95A5A6;
$global-color: #5B2C6F;

$colors: (
  youtube: #D16E8D,
  articles: #FFAC83,
  community: #3F78C9,
  courses: #49C4A3,
);

$font-sizes: (
  h2: 48px,
  h3: 36px,
  h4: 24px,
  h5: 18px,
  h6: 12px
);
